body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
.search{
        width: 600px;
        height: 300px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
#search{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding: 7px;
    color: blue;
    margin-top: 10px;
}
#user_input{
    width: 500px;
    height: 20px;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin : 5px;
}
#submit{
    margin: 5px;
}