<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="/static/search_styles.css">
</head>
<body>
<div class="search">
    <form id="search" action="/search", method="post">
        <input type="text", id="user_input", name="user_input", placeholder="Enter you query here">
        <input type="submit", id="submit", value="submit">

    </form>
    {% if answers %}
        <p>answers</p>
    {% endif %}
</div>
</body>
</html>